* {
	margin: 0;
	padding: 0;
}
h1 {
	color: #cc7676;
	text-transform: uppercase;
	margin-left: 50px;
	margin-top: 25px;
}
p {
	padding: 12px;
    margin-top: 20px;
}
div {
	background: yellow;
	margin: 5px;
	height: 100px;
	width: 100px;
	float: left;
}
#div1 {
	color:blue;
	background: purple;

}
#div2 {
	color:red;
	background: green;
}
#div3 {
	color:orange;
	background: pink;
}
.header-box {
	width: 800px;
	height: auto;
	background: gray;
	margin: 0 auto;
}

